<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/home.css">
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <script type="text/javascript">
	      var hey = <%-JSON.stringify(country)%>;
	      var x = 200;
	      google.charts.load('upcoming', {'packages':['geochart']});
	      google.charts.setOnLoadCallback(drawRegionsMap);

	      function drawRegionsMap() {

	        var data2 = google.visualization.arrayToDataTable([
	          ['Country', 'Popularity'],
	          ['Germany', x],
	          [hey, x],
	          ['Brazil', x],
	          ['Canada', x],
	          ['France', x],
	          ['RU', x]
	        ]);

	        var data1 = google.visualization.arrayToDataTable([
	          ['Country', 'Popularity'],
	          ['IN', x],
	          ['US', x],
	          ['BR', x],
	          ['CA', x],
	          ['FR', x],
	          ['RU', x]
	        ]);

	        var options1 = {
	        	backgroundColor: '#17263c',
	        	legend: 'none'
	        };

	        var chart1 = new google.visualization.GeoChart(document.getElementById('regions_div1'));
	        var chart2 = new google.visualization.GeoChart(document.getElementById('regions_div2'));
	        var countryName = "US";
	        google.visualization.events.addListener(chart2, 'select', function() {
			    var selectionIdx = chart2.getSelection()[0].row;
			    
			    countryName = data1.getValue(selectionIdx, 0);
			    
			    document.getElementById("regions_div2").style.zIndex = -10;
			    document.getElementById("regions_div1").style.zIndex = 0;
			    // window.open("http://www.google.com");
				var options2 = {
		          // country: 'Ethiopia',
		          region: countryName,//count, // Africa
		          // colorAxis: {colors: ['#00853f', 'black', '#e31b23']},
		          backgroundColor: '#17263c',
		          legend: 'none'
		          // datalessRegionColor: '#f8bbd0',
		          // defaultColor: '#f5f5f5',        
		        };
			    chart1.draw(data1, options2);
			    chart2.setSelection(null);
			});

	        chart2.draw(data2, options1);

	        document.getElementById("back").addEventListener("click", function(){
				document.getElementById("regions_div1").style.zIndex = -10;
				document.getElementById("regions_div2").style.zIndex = 0;
			});
	      }
	    </script>
	</head>
	<body>
		<div id = 'navbar'>
			<img src="http://www.electrogarden.com/music/egn/skins/ProJam_Dark/images/world_map_black.jpg" id="logo" />
			<ul>
			  <li><a class="active" href="/home"><b>Home</b></a></li>
			  <li><a href="/profile"><b>Profile</b></a></li>
			  <li><a href="#contact"><b>Followers</b></a></li>
			  <li><a href="/search"><b>Search</b></a></li>
			  <li><a href="/signOut"><b>Sign Out</b></a></li>
			</ul>
		</div>
		<div class='layer'>
			<div id = 'workingArea'>
				<h1> Welcome, <%= name%> <%= country%></h1>
				<div id = 'map'>
					<div id="regions_div1" style="position: absolute; width: 1000px; height: 500px; display: inline; z-index: -10"></div>
					<div id="regions_div2" style="position: absolute; width: 1000px; height: 500px;"></div>
				</div>
				<div id='back'></div>
			</div>
		</div>
	</body>
</html>