<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
	</head>
	<body>
		<div id = 'navbar'>
			<ul>
			  <!-- <li><a href="/home"><b>Home</b></a></li> -->
			  <img src="http://www.electrogarden.com/music/egn/skins/ProJam_Dark/images/world_map_black.jpg" id="logo" />
			  <div id = "name">MapItUp</div>
			</ul>
		</div>
	  	<div id = 'signUp'>
			<form action="/signIn" method="post">
		      	<label>Email : </label><input type="text" name="email">
		      	<label>Password : </label><input type="password" name="password">
		      	<label><input type="submit" value="Sign In"></label>
		  	</form>
	  	</div>
	</body>
</html>