<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
	</head>
	<body>
		<div id = 'navbar'>
			<ul>
			  <li><a class="active" href="#home">Home</a></li>
			  <li><a href="#news">News</a></li>
			  <li><a href="#contact">Contact</a></li>
			  <li><a href="#about">About</a></li>
			</ul>
		</div>
	  	<div id = 'signUp'>
			<form action="/signIn" method="post">
		      	<label>Email : </label><input type="text" name="email">
		      	<label>Password : </label><input type="password" name="password">
		      	<label><input type="submit" value="Sign In"></label>
		  	</form>
	  	</div>
	</body>
</html>